html, body {
  background-color: #F9F9F9;
  font-family: 'Open Sans', sans-serif;
  background-color: #F9F9F9;
}

/* Nav bar tabs */

.wrap .nav.nav.tabs > li > a {
  border: 1px solid rgba(221, 221, 221, 0.6) !important;
}

#container_help_text {
  font-size: 11px;
  top: 10px;
  position: relative;
  overflow: hidden;
  display: inline;
  background-color: #F8F8EF;
  padding: 3px;
  margin-left: 20px;
}

#help_title {
  font-weight: bold;
}

#help_text {
  margin-left: 2px;
}

#and_load_error_list {
  display: none;
}