/** Default Tab CSS **/

.default_select {
  max-width: 200px;
  border-radius: 7px;
}

.default_input {
  max-width: 200px;
  border-radius: 7px;
}

.default_options_sub_setting {
  padding: 10px;
  margin-bottom: 5px !important;
}

.default_options_sub_setting > label {
  margin: 5px;
  border-bottom: 1px solid #000;
}

.hide-setting {
	display: none;
}


/* Mobile device styles */

/* Smartphones (portrait and landscape) */
@media only screen
and (max-device-width : 768px) { 
	.default_options_sub_setting {
		display: block;
	}

	.default_select, .default_input {
		max-width: none;
	}
} 
 
/* Tablets (portrait and landscape) and desktop */
@media only screen
and (min-device-width : 768px) {

}
