/** Tab Overview CSS **/

#overview_container {
    border: 5px double #F3F3F3;
    padding: 20px;
    border-radius: 10px;
}

#new_file_button {
  max-width: 200px;
  margin: 15px 0 15px 0;
}

#new_file_button:hover {
  background: #EFEFEF;
  color: #4CB2E7;
}

#overview_get_started {
	padding: 20px;
}

/* Datatables CSS */

.shortcode_load_table_container {
  max-width: 100%;
  margin-top: 20px;
}