/** Default Tab CSS **/

.default_select {
  max-width: 200px;
  border-radius: 7px;
}

.default_input {
  max-width: 200px;
  border-radius: 7px;
}

.default_options_sub_setting {
  padding: 10px;
  margin-bottom: 5px !important;
}

.default_options_sub_setting > label {
  margin: 5px;
  border-bottom: 1px solid #000;
}