@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #E9E9E9;
}

.wrap {
  font-family: 'Lato', sans-serif;
}

.hidden-display{
  display: none;
}

.center {
    text-align: center;
}

/* Nav bar tabs */

.nav-tab-wrapper {
  margin-top: 1em;
  border-bottom: 5px solid #FEFEFE;
  display: block;
}

.nav-tab {
  font-size: 1.2em;
  line-height: 1em;
}

.nav-tab:hover {
  background-color: #EFEFEF;
}

.active-tab {
  background-color: #F3F3F3;
}

.shortcode-load-table-container {
  max-width: 100%;
  margin-top: 20px;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

/* Datatables CSS */

#overview-table_length {
  float: left;
}

#overview-table_filter {
  float: right;
}

#overview-table_info {
  float: left;
}

#overview-table_paginate {
  float: right;
}

/* Edit file form elements */

#new_file_type {
  max-width: 120px;
  display: inline-block;
  height: 34px;
  border-radius: 7px;
  padding: 6px 12px
}

#new_file_name {
  max-width: 250px;
  display: inline-block;
  margin: 0 20px 20px 0;
  border-radius: 7px;
}