@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #E9E9E9;
}

.wrap {
  font-family: 'Lato', sans-serif;
}

/* Nav bar tabs */

.nav-tab-wrapper {
  margin-top: 1em;
  border-bottom: 5px solid #FEFEFE;
  display: block;
}

.nav-tab {
  font-size: 1.2em;
  line-height: 1em;
}

.nav-tab:hover {
  background-color: #EFEFEF;
}

.active-tab {
  background-color: #F3F3F3;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}