/** Tab Help CSS **/

.shortcode_load_help_credits_section {
  margin-top: 10px;
}

.shortcode_load_help_section {
  border: 5px solid rgb(254, 254, 254);
  border-radius: 15px;
  padding: 10px;
}

ul > li {
  margin-top: 10px;
  font-weight: bold;
  margin-left: 15px;
}

ul > li > h4 {
  margin: 0 10px 15px 0;
  border-left: 1px solid #333;
  display: inline-block;
  padding: 5px;
}

ul > li > ul {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 5px solid #FEFEFE;
  border-top: 5px solid #FEFEFE;
}

ul > li > ul > li {
  margin-left: 10px;
  font-weight: normal;
}

ul > li > ul > li > ul {
  margin-left: 10px;
  border: 0;
}