/** Tab Help CSS **/

.shortcode_load_help_credits_section {
  margin-top: 10px;
}


.shortcode_load_help_section {
  border: 5px solid rgb(254, 254, 254);
  border-radius: 15px;
  padding: 10px;
}

ul > li {
  margin-top: 10px;
  font-weight: bold;
  margin-left: 15px
}

ul > li > h3 {
    margin: 20px;
    border-bottom: 3px double black;
    display: inline;
}

ul > li > ul {
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 5px solid #FEFEFE;
  border-top: 5px solid #FEFEFE;
}

ul > li > ul > li {
  margin-left: 10px;
  font-weight: normal;
}

ul > li > ul > li > ul {
  margin-left: 10px;
  border: 0;
}