/* Edit file form elements */

.control-label {
  margin-right: 5px;
  margin-left: 10px;
}

#edit_file_input_container {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 3px double #FEFEFE;
  padding: 15px 0 15px 0;
}

#edit_file_input_container > select {
  max-width: 120px;
  display: inline-block;
  height: 34px;
  border-radius: 7px;
  padding: 6px 12px
}

#edit_file_input_container > input {
  max-width: 250px;
  display: inline-block;
  border-radius: 7px;
}

#edit_file_file_upload_container {
  display: inline-block;
  text-align: right;
}

#edit_file_file_upload_container > input.file {
  max-width: 150px;
}

#edit_file_revisions_select {
  margin-top: -5px;
}

.form-table {
  display: none;
}