/* Overview */

#overview-help-text {
  font-size: 11px;
  top: 10px;
  left: -10px;
  position: relative;
  overflow: hidden;
  display: inline;
  background-color: #F8F8EF;
  padding: 3px;
}

#help-title {
  font-weight: bold;
}

#help-text {
  margin-left: 2px;
}

#overview-container {
    border: 5px double #F3F3F3;
    padding: 0 20px 20px 20px;
}

#new-file-button {
  max-width: 200px;
  margin: 15px 0 15px 0;
}

#new-file-button:hover {
  background: #EFEFEF;
  color: #4CB2E7;
}

/* Datatables CSS */

.shortcode-load-table-container {
  max-width: 100%;
  margin-top: 20px;
}


#overview-table_length {
  float: left;
}

#overview-table_filter {
  float: right;
}

#overview-table_info {
  float: left;
}

#overview-table_paginate {
  float: right;
}