/** Tab Help CSS **/

.shortcode_load_help_credits_section {
  margin-top: 10px;
}


.shortcode_load_help_section {
  border: 5px solid rgb(254, 254, 254);
  border-radius: 15px;
  padding: 10px;
}

ul > li {
  margin-top: 10px;
  font-weight: bold;
  margin-left: 15px
}

ul > li > ul {
  margin-top: 10px;
  border: 1px solid #FEFEFE;
  border-bottom: 1px solid #F3F3F3;
}

ul > li > ul > li {
  margin-left: 10px;
  font-weight: normal;
}