/* Edit file form elements */

.control-label {
  margin-right: 5px;
  margin-left: 10px;
}

#edit_file_input_container {
  margin-bottom: 15px;
  border: 3px double #FEFEFE;
  padding: 15px 0 15px 0;
}

#edit_file_input_container > select {
  max-width: 120px;
  display: inline-block;
  height: 34px;
  border-radius: 7px;
  padding: 6px 12px
}

#edit_file_input_container > input {
  max-width: 250px;
  display: inline-block;
  border-radius: 7px;
}

#edit_file_file_upload_container {
  position: absolute;
  right: 50px;
  display: inline-block;
}

#new_file_upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#new_file_upload_button {
  position: relative;
  overflow: hidden;
  margin-top: -5px;
}

#new_file_upload_file_name {
  display: inline-block;
  max-width: 120px;
  height: 34px;
}

#new_file_upload_reset_button {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAABOFBMVEX/////////QRswFAb/Ui4wFAYwFAYwFAaWGAfDRymzOSH/PxswFAb/SiUwFAYwFAbUPRvjQiDllog5HhHdRybsTi3/Tyv9Tir+Syj/UC3////XurebMBIwFAb/RSHbPx/gUzfdwL3kzMivKBAwFAbbvbnhPx66NhowFAYwFAaZJg8wFAaxKBDZurf/RB6mMxb/SCMwFAYwFAbxQB3+RB4wFAb/Qhy4Oh+4QifbNRcwFAYwFAYwFAb/QRzdNhgwFAYwFAbav7v/Uy7oaE68MBK5LxLewr/r2NXewLswFAaxJw4wFAbkPRy2PyYwFAaxKhLm1tMwFAazPiQwFAaUGAb/QBrfOx3bvrv/VC/maE4wFAbRPBq6MRO8Qynew8Dp2tjfwb0wFAbx6eju5+by6uns4uH9/f36+vr/GkHjAAAAYnRSTlMAGt+64rnWu/bo8eAA4InH3+DwoN7j4eLi4xP99Nfg4+b+/u9B/eDs1MD1mO7+4PHg2MXa347g7vDizMLN4eG+Pv7i5evs/v79yu7S3/DV7/498Yv24eH+4ufQ3Ozu/v7+y13sRqwAAADLSURBVHjaZc/XDsFgGIBhtDrshlitmk2IrbHFqL2pvXf/+78DPokj7+Fz9qpU/9UXJIlhmPaTaQ6QPaz0mm+5gwkgovcV6GZzd5JtCQwgsxoHOvJO15kleRLAnMgHFIESUEPmawB9ngmelTtipwwfASilxOLyiV5UVUyVAfbG0cCPHig+GBkzAENHS0AstVF6bacZIOzgLmxsHbt2OecNgJC83JERmePUYq8ARGkJx6XtFsdddBQgZE2nPR6CICZhawjA4Fb/chv+399kfR+MMMDGOQAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-position: 2px center;
}


#edit_file_revisions_select {
  margin-top: -5px;
}

/* Ace styles */

.editor-container {
  height: 400px;
  margin-bottom: 20px;
}

#editor {
  position: relative;
  height: 100%;
  border-radius: 10px;
}

/* Wordpress core styling */

p.submit {
  margin: 0;
}

.form-table {
  display: none;
}