/* Overview */

#overview_help_text {
  font-size: 11px;
  top: 10px;
  left: -10px;
  position: relative;
  overflow: hidden;
  display: inline;
  background-color: #F8F8EF;
  padding: 3px;
}

#help_title {
  font-weight: bold;
}

#help_text {
  margin-left: 2px;
}

#overview_container {
    border: 5px double #F3F3F3;
    padding: 0 20px 20px 20px;
}

#new_file_button {
  max-width: 200px;
  margin: 15px 0 15px 0;
}

#new_file_button:hover {
  background: #EFEFEF;
  color: #4CB2E7;
}

/* Datatables CSS */

.shortcode_load_table_container {
  max-width: 100%;
  margin-top: 20px;
}


#overview_table_length {
  float: left;
}

#overview_table_filter {
  float: right;
}

#overview_table_info {
  float: left;
}

#overview_table_paginate {
  float: right;
}