/** Default Tab CSS **/

.default_editor_setting_container {
  display: inline-block;
}

.default_editor_setting_container > select {
  max-width: 200px;
}

.default_options_sub_setting {
  padding: 10px;
  margin-bottom: 5px !important;
}

.default_options_sub_setting > label {
  margin: 5px;
  border-bottom: 1px solid #000;
}